@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}
:root {
  --black: #080c08;
  --black-2: #1e221e;
  --white: #ffffff;
  --green: #a3b43e;
  --yellow: #d7e872;
  --gray: #a2a4a2;
  --gradient-accent: linear-gradient(
    90deg,
    var(--green) 0%,
    var(--yellow) 100%
  );
  --gradient-box: linear-gradient(90deg, var(--black) 0%, var(--black-2) 150%);
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* UTILITIES */
.container {
  max-width: 1140px;
  width: 100%;
  margin-inline: auto;
}
.mark-text {
  background: var(
    --gradient-green,
    linear-gradient(90deg, #a3b43e 0%, #d7e872 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--white);
  text-transform: uppercase;
}
.text {
  font-size: 1rem;
  color: var(--gray);
  line-height: 1.5;
}
.cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  max-width: 18rem;
  width: 100%;
  background: var(--gradient-accent);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  z-index: 10;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}
.cta:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  box-shadow: 0 4px 1rem #d6e87223;
}
.cta span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
}
.cta img {
  display: block;
  height: 100%;
  width: auto;
}
.spark {
  width: 1.2rem;
  aspect-ratio: 1/1;
  background: var(--green);
  clip-path: polygon(
    40% 40%,
    50% 0,
    60% 40%,
    100% 50%,
    60% 60%,
    50% 100%,
    40% 60%,
    0 50%
  );
}

/* HERO */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--black);
  background: url("../../media/imagens/bg.jpg") no-repeat center bottom/cover;
}
.hero .content {
  display: flex;
  align-items: center;
}
.hero .headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 32rem;
}
.hero .headline h1 {
  font-size: 2.5rem;
}
.hero .headline p {
  max-width: 25rem;
  margin-top: -1rem;
}
.hero .headline .info-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.hero .headline .info-data .avatar img {
  max-height: 2.5rem;
  border: 2px solid var(--black);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.hero .headline .info-data .avatar img + img {
  margin-left: -1rem;
}
.hero .name-expert {
  position: absolute;
  top: 20%;
  right: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background: #ffffff2c;
  padding: 0.75rem 1.5rem;
  border: 1px solid #ffffff3b;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  backdrop-filter: blur(0.5rem);
  box-shadow: -2px 4px 8px 0px rgba(255, 255, 255, 0.15) inset;
  animation: float;
  -webkit-animation: float 10s linear infinite;
}
@keyframes float {
  0% {
    transform: translateY(-0.8rem);
    -webkit-transform: translateY(-0.8rem);
    -moz-transform: translateY(-0.8rem);
    -ms-transform: translateY(-0.8rem);
    -o-transform: translateY(-0.8rem);
  }
  25% {
    transform: translateX(-0.8rem);
    -webkit-transform: translateX(-0.8rem);
    -moz-transform: translateX(-0.8rem);
    -ms-transform: translateX(-0.8rem);
    -o-transform: translateX(-0.8rem);
  }
  50% {
    transform: translateY(0.8rem);
    -webkit-transform: translateY(0.8rem);
    -moz-transform: translateY(0.8rem);
    -ms-transform: translateY(0.8rem);
    -o-transform: translateY(0.8rem);
  }
  75% {
    transform: translateX(0.8rem);
    -webkit-transform: translateX(0.8rem);
    -moz-transform: translateX(0.8rem);
    -ms-transform: translateX(0.8rem);
    -o-transform: translateX(0.8rem);
  }
  100% {
    transform: translateY(-0.8rem);
    -webkit-transform: translateY(-0.8rem);
    -moz-transform: translateY(-0.8rem);
    -ms-transform: translateY(-0.8rem);
    -o-transform: translateY(-0.8rem);
  }
}
.hero .name-expert img {
  display: block;
}
.hero .name-expert span {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--white);
}
.hero .more-down {
  position: absolute;
  bottom: -1.6rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 1;
}
.hero .more-down::before {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1140px;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--yellow) 50%,
    transparent 100%
  );
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: -1;
}

/* MODULES */
.modules {
  position: relative;
  background: var(--black);
  padding-block: 7.5rem;
  z-index: 0;
}
.modules::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background: url("../../media/imagens/stroke-dash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1140px;
  width: 100%;
  height: 39.125rem;
  z-index: -1;
}
.modules .container {
  position: relative;
}
.modules .container::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -15%;
  display: block;
  width: 18rem;
  height: 18rem;
  background: var(--yellow);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.2;
  mix-blend-mode: plus-lighter;
  filter: blur(3rem);
  -webkit-filter: blur(3rem);
  animation: wave 4s linear alternate infinite;
  -webkit-animation: wave 8s linear alternate infinite;
  z-index: -1;
}
@keyframes wave {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-40rem);
    -webkit-transform: translateX(-40rem);
    -moz-transform: translateX(-40rem);
    -ms-transform: translateX(-40rem);
    -o-transform: translateX(-40rem);
  }
}
.modules .tag {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modules .tag .top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.modules .tag .top .title {
  font-size: 0.875rem;
  letter-spacing: 5px;
  width: 100%;
}
.modules .mods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-block: 5rem;
}
.modules .mods li {
  position: relative;
}
.modules .mods li img {
  position: relative;
  display: block;
  width: 16.25rem;
  height: 21.875rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.modules .mods li::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  display: block;
  width: 262px;
  height: 352px;
  background: linear-gradient(
    220deg,
    var(--yellow) 0%,
    transparent 20%,
    transparent 80%,
    var(--green) 100%
  );
  opacity: 0.5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.modules .mods li .name-mod {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
}
.modules .mods li .name-mod h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.modules .mods li .name-mod span {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 100%;
  color: var(--black);
  background: var(--white);
  padding: 0.4rem 1.5rem;
  margin-inline: auto;
  width: fit-content;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.modules .cta {
  margin-inline: auto;
}

/* BENEFITS */
.benefits {
  position: relative;
  padding-block: 7.5rem;
  background: var(--black);
  z-index: -1;
}
.benefits::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--yellow);
  width: 5rem;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(4rem);
  -webkit-filter: blur(4rem);
  mix-blend-mode: plus-lighter;
  animation: circle 8s linear alternate infinite;
  -webkit-animation: circle 8s linear alternate infinite;
  z-index: -1;
}
@keyframes circle {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-40rem);
    -webkit-transform: translateX(-40rem);
    -moz-transform: translateX(-40rem);
    -ms-transform: translateX(-40rem);
    -o-transform: translateX(-40rem);
  }
}
.benefits .tag {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.benefits .tag .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.benefits .tag .top .title {
  font-size: 0.875rem;
  letter-spacing: 5px;
  max-width: 38rem;
  width: 100%;
}
.benefits .tag h2 {
  max-width: 38rem;
}
.benefits .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.benefits .cards li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--gradient-box);
  max-width: 16rem;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.041);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.benefits .cards li h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white);
}
.benefits .cards li .separator {
  position: relative;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, var(--yellow) 0%, transparent 100%);
}
.benefits .cards li .separator::before {
  content: "";
  position: absolute;
  top: -3px;
  display: block;
  width: 0.5rem;
  aspect-ratio: 1/1;
  background: var(--yellow);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* TESTIMONIALS */
.testimonials {
  padding-block: 7.5rem;
  background: var(--black);
}
.testimonials .tag {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.testimonials .tag .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.testimonials .tag .top .title {
  font-size: 0.875rem;
  letter-spacing: 5px;
  max-width: 38rem;
  width: 100%;
}
.testimonials .tag h2 {
  max-width: 38rem;
}
.testimonials .cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}
.testimonials .cards .depoiment {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--gradient-box);
  max-width: 18.3125rem;
  width: 100%;
  height: 18.75rem;
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.041);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.testimonials .cards .depoiment > img {
  display: block;
  position: absolute;
  top: -1.2rem;
  right: 1.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
}
.testimonials .cards .depoiment .id-person {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.testimonials .cards .depoiment .id-person .avatar {
  display: block;
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .cards .depoiment .id-person h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white);
}
.testimonials .cards .depoiment .text {
  font-style: italic;
}
.testimonials .cards .prev,
.testimonials .cards .next {
  display: block;
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .cards .prev {
  left: 0;
}
.testimonials .cards .next {
  right: 0;
}

/* PRICE */
.price {
  position: relative;
  padding-block: 7.5rem;
  background: var(--black);
  z-index: 0;
}
.price .tag {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.price .tag .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.price .tag .top .title {
  font-size: 0.875rem;
  letter-spacing: 5px;
  max-width: 38rem;
  width: 100%;
}
.price .tag h2 {
  max-width: 38rem;
}
.price .content {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.price .content::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: 20%;
  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--yellow);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(7rem);
  -webkit-filter: blur(7rem);
  mix-blend-mode: lighten;
  opacity: 0.7;
  z-index: -1;
}
.price .content .leftside {
  flex: 1;
}
.price .content .leftside .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background: var(--gradient-box);
  width: fit-content;
  padding: 4.5rem;
  border: 1px solid rgba(255, 255, 255, 0.041);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.price .content .leftside .box > span {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--white);
  color: var(--black);
  padding: 4px 2rem;
  margin-top: -5.3rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.price .content .leftside .box .bonus {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.price .content .leftside .box .bonus h3 {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  color: var(--white);
}
.price .content .leftside .box .bonus .itens {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.price .content .leftside .box .bonus .itens li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.price .content .leftside .box .bonus .itens li img {
  display: block;
}
.price .content .leftside .box .bonus .itens li span {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray);
}
.price .content .leftside .box .values {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.price .content .leftside .box .values > span,
.price .content .leftside .box .values > span > s {
  color: var(--gray);
  text-align: center;
}
.price .content .leftside .box .values .contrast {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}
.price .content .leftside .box .values .contrast > span {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--white);
}
.price .content .leftside .box .flags-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -1.5rem;
  opacity: 0.7;
}
.price .content .leftside .box .flags-payment img {
  display: block;
}
.price .content .rightside {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: -1;
}
.price .content .rightside img {
  display: block;
}
.price .content .rightside h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
}

/* ABOUT ME */
.about-me {
  padding-block: 7.5rem;
  background: url("../../media/imagens/bg-about.jpg"), var(--black);
  background-repeat: no-repeat;
  background-position: center center;
}
.about-me .tag {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about-me .tag .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.about-me .tag .top .title {
  font-size: 0.875rem;
  letter-spacing: 5px;
  max-width: 38rem;
  width: 100%;
}
.about-me .content {
  display: flex;
  margin-top: 5rem;
}
.about-me .content .leftside {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}
.about-me .content .leftside::before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: 40%;
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--yellow);
  filter: blur(7rem);
  -webkit-filter: blur(7rem);
  z-index: 0;
}
.about-me .content .leftside img {
  position: relative;
  display: block;
}
.about-me .content .rightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: #ffffff02;
  backdrop-filter: blur(1.5rem);
  padding: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.103);
  border-radius: 8px;
}
.about-me .content .rightside p {
  font-size: 1rem;
  line-height: 1.5;
}
.about-me .content .rightside p > .mark-text {
  font-weight: 500;
}
.about-me .content .rightside .big-numbers {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.about-me .content .rightside .big-numbers .xp,
.about-me .content .rightside .big-numbers .student {
  display: flex;
  flex-direction: column;
}
.about-me .content .rightside .big-numbers .xp .number,
.about-me .content .rightside .big-numbers .student .number {
  font-size: 2rem;
  font-weight: 500;
  color: var(--yellow);
}
.about-me .content .rightside .big-numbers .xp span,
.about-me .content .rightside .big-numbers .student span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
}

/* CTA */
.cta-area {
  background: var(--black);
  padding-bottom: 7.5rem;
}
.cta-area .shape {
  position: relative;
  background: var(--gradient-accent);
  padding: 5rem 4.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.cta-area .shape::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../../media/imagens/bg-cta.png") no-repeat right top/contain;
  mix-blend-mode: luminosity;
  z-index: 0;
}
.cta-area .shape > img {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.cta-area .shape .content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.cta-area .shape .leftside,
.cta-area .shape .rightside {
  position: relative;
  flex: 1;
  z-index: 1;
}
.cta-area .shape .leftside h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
}
.cta-area .shape .rightside .cta {
  position: relative;
  max-width: 22.5rem;
  width: 100%;
  background: var(--gradient-box);
  z-index: 1;
}
.cta-area .shape .rightside .cta span {
  color: var(--yellow);
  font-weight: 400;
}

/* FOOTER */
.footer {
  position: relative;
  padding-block: 3rem;
  background: var(--black);
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1140px;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--yellow) 50%,
    transparent 100%
  );
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 0;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footer .container .copy {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray);
}
.footer .container .privacy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.footer .container .privacy a {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray);
  text-decoration: none;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.footer .container .privacy a:hover {
  text-decoration: underline;
}
